<!DOCTYPE html>
<html lang="fr">
  <head>
  <style>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tous les chemins mènent à la philosophie</title>
    input[type=button], input[type=submit]  {
    background-color: #4CAF50;  
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; }


    a {text-decoration: none}
    div { 
    padding: 10px;
    width: 500px;
    margin: 50px auto 0 auto;
    border: black;
    } 
  </style> 
  </head> 
  <body> 
  <!--
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <div class="alert alert-{{ message[0] }}">{{ message[1]}}</div> 
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
-->
    {% extends "index.html" %}
    {% block body %}
    <form action="/move" method="post"  >
    <h1 style="color:white;background-color:black;">
    <a href="http://127.0.0.1:8000/" style="text-decoration: none; color: white">
     Page Précedente :
        {{ session.article }}  
        </a> 
    </h1>  

    <h2 style="color:white;background-color:grey;">
    <p>Votre score :
      {{ session.score  }}  
  
    </p>
    </h2>
     
      <!--
      {% for item in session.content %}

        <li>{{loop.index}} {{ item }} </li>
      {% endfor %}
      
      <p>Cliquer sur l'une des proposition suivante:<br>
      {% for cell in session.content %}  
          <input type="radio" name="choix" id=id{{loop.index}} value=cell >
          <label for=id{{loop.index}} > {{ cell }} </label><br>
      {% endfor %}
      </p>
      

        <input type="submit">-->
        <!-- <div style="width: 500px; margin: 10px auto 0 auto; border :black;"> -->
        <div style='border-style: outset;'>
        <p >Cliquer sur l'une des propositions suivantes:<br>  
        <form action="/move" method="post">  

        {% for item in session.content %} 
          {%  if loop.first %}    
          <ul style="list-style-type:none">
          <label for='id{{loop.index}}'>
          <li><input type="radio" name="choix" value="{{ item }}"" id='id{{loop.index}}' checked="" style='transform: scale(1.3);margin:10px 0'> {{ item }}</li>
          </label>
          {% else %}
          <label for='id{{loop.index}}'>
          <li><input type="radio" name="choix" value="{{ item }}" id='id{{loop.index}}' style='transform: scale(1.3);margin:10px 0''> {{ item }}</li>
          </label>
          {% endif %}
        {% endfor %}
        <input type="submit" value="Submit" style=" float: right">
        <input type="hidden" name="score_current" id="score_current" value= '{{ session.score }}' >
        <input type="hidden" name="article_current" id="article_current" value= '{{ session.article }} ' > 

       <!-- <button>Submit</button> 
        </p> -->
        </form>
        </ul>
        </p>
        </div>
    {% endblock %}
 
  </body>
</html>

